* {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
  height: 75px;
  background-color: #22324e;
}
#leftnav {
  width: 35%;
  height: 75px;
  float: left;
}
#logo {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  margin-top: 12px;
  float: left;
}
#title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: #feb707;

  float: right;
  margin-right: 10px;
  margin-top: 12px;
}

#rightnav {
  width: 65%;
  height: 75px;
  float: right;
}
#navtable {
  width: 79%;
  height: 75px;
  float: left;
}
#nabtr {
  width: 100%;
  height: 75px;
}
.navtext {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
}
#navbtn {
  width: 150px;
  height: 75px;
  border: 0;
  background-color: #feb707;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
}

#carddiv {
  width: 100%;
  height: 400px;
}
#cardtable {
  width: 80%;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
}
#cardtr {
  width: 100%;
  height: 400px;
}
.cardtd {
  width: 25%;
  height: 370px;
  padding: 15px 15px 15px 15px;
}
.card {
  height: 320px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.cardimg {
  height: 80px;
  width: 80px;
}
.cardtitle {
  padding-top: 30px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.cardtext {
  padding-top: 15px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
#b-left {
  height: 550px;
  width: 50%;
  float: left;
}
#b-right {
  height: 480px;
  width: 50%;
  float: right;
  padding-top: 70px;
}
hr {
  transform: rotate(90deg);
  height: 5px;
  width: 50px;
  background-color: #feb707;
  border: 0;
  border-radius: 1px;
}
.text1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.number {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #feb707;
}
#readmore {
  margin-top: 20px;

  height: 50px;
  width: 140px;
  border: 0;
  background-color: #feb707;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25;
  color: white;
}
#upperarrow {
  margin-top: 20px;
  margin-left: 350px;

  height: 50px;
  width: 50px;
  border: 0;
  background-color: #feb707;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25;
  color: white;
}
